[submodule "mixer"]
	path = mixer
	url = https://github.com/datacommonsorg/mixer.git
[submodule "import"]
	path = import
	url = https://github.com/datacommonsorg/import.git
[submodule "packages/dc-home-reboot"]
	path = packages/dc-home-reboot
	url = https://github.com/CaravanStudios/dc-homepage-reboot.git
